@model IEnumerable<ELearning.Data.Entities.StudentAssignment>

@{
    Layout = "_InstructorLayout";
}
<div class="row mx-0 justify-content-center pt-5" style="    margin-bottom: 30px;">
    <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
            <h1 class="display-4">Assignment Submissions</h1>
        </div>
    </div>
</div>

<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.DisplayName)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubmissionDate)
                </th>
                <th>
                    Solutions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.DisplayName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SubmissionDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Assignment" asp-route-id ="@item.Id">Solution</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
