@model Course

<div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link activelink" asp-controller="course">Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="exams" onclick="SwitchToExams(@Model.Id)">Exams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Assignments" asp-action="Index">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="parts" onclick="SwitchToParticipants(@Model.Id)">Participants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Grades</a>
            </li>
        </ul>
    </nav>
    <br>
    @if (Model.Lectures.Count == 0)
    {
        <img src="/img/nocontent.jpg" style=" position:relative; left: 50%;transform: translateX(-50%);width: 400px;" />
    }
    else
    {
        <div class="accordion" id="accordionExample">
            @{
                var counter = 1;
            }
            @foreach (var lecture in Model.Lectures)
            {

                <a asp-action="LectureContent" asp-controller="Lecture" asp-route-id="@lecture.Id">

                    <div class="card">

                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    @(counter). @lecture.Name
                                </button>
                            </h5>
                        </div>
                    </div>
                </a>
                counter++;
            }
        </div>
    }

</div>
<style>
    .activelink {
        background-color: #afdfff;
    }
</style>


<script>
    function SwitchToExams(courseId) 
    {
        var element = document.getElementById("accordionExample");
      
        var links = document.querySelectorAll('.navbar-nav .nav-item .nav-link');
      
        console.log(links);
        links.forEach(function (link) {
            link.classList.remove('activelink');
        });
        var link = document.getElementById("exams");
        console.log(link);
        link.classList.add('activelink');

        $.ajax({
            url: "/Exam/CourseExams",
            data: { "courseId": courseId },
            success: function (result) {
                element.innerHTML = result;
            }
        });
    }
    function SwitchToParticipants(courseId) {
        var element = document.getElementById("accordionExample");
        var links = document.querySelectorAll('.navbar-nav .nav-item .nav-link');
        links.forEach(function (link) {
            link.classList.remove('activelink');
        });
        var element = document.getElementById("accordionExample");
        var link = document.getElementById("parts");
        console.log(link);
        link.classList.add('activelink');
        console.log("hello");
        $.ajax({
            url: "/Course/GetCoureParticipants",
            data: { "courseId": courseId },
            success: function (result) {
                element.innerHTML = result;
            }
        });
    }
</script>