@model PaginatedList<Course>

@if (Model.Items.Count == 0)
{
    <img src="/img/noresult.jpg" style="width:400px;height:400px;position:relative;left: 50%;
    top: 50%;
    transform: translate(-80%,0%);" />
}
else
{

    <div class="row mx-0">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(1)">
                        <span>First</span>
                    </a>
                </li>

                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.PageIndex - 1)">
                        <span>Previous</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link text-black" onclick="FilterSearchCourses(@i)">@i</a>
                    </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.PageIndex + 1)">
                        <span>Next</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.TotalPages)">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </nav>

        @foreach (var course in Model.Items)
        {
            <div class="course">
                <div class="course-preview">
                    <img src="/assets/Images/course/@course.ImagePath" style="width:100%;height:100%;" />
                </div>
                <div class="course-info d-flex justify-content-around ">
                    <div style="width:70%;">
                        <a asp-action="Details" asp-controller="Course" asp-route-Id="@course.Id">

                            <h4>@course.Name</h4>
                        </a>
                        <p class="mt-1">@course.Description.Substring(0,Math.Min(100,course.Description.Length))</p>
                        <span class="badge badge-success" style="font-size: 17px;position:relative;bottom: -20px;">@course.SkillLevel</span>
                        <span class="badge badge-primary" style="font-size: 17px;position:relative;bottom: -20px;">@course.Language</span>
                    </div>
                    <div class="d-flex flex-column justify-content-around align-items-center">
                        <h4>@course.Price$</h4>
                        <a onclick="AddToCart(@course.Id)" id="cart">
                            <img src="/img/CartIcon.png" style="cursor: pointer;width:30px;height:30px;" />
                        </a>
                    </div>
                </div>
            </div>

        }
        @*  @foreach (var course in Model.Items)
    {
    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
    <div class="coursecard d-flex flex-column align-items-center" style=" border: solid 1px #d8d2d4;border-radius: 10px;">
    <div class="product-name text-center">@course.Name</div>
    <a asp-action="Details" asp-controller="Course" asp-route-Id="@course.Id">
    <div class="coursecard-img"> <img src="~/assets/Images/course/@course.ImagePath" alt=""> </div>
    </a>

    <div class="coursecard-body pt-2" style="width:100%;">
    <p style="    margin-left: 30px; ">Level : <strong>@course.SkillLevel</strong></p>
    <p style="    margin-left: 30px; ">Language : <strong>@course.Language</strong></p>
    <div class="d-flex align-items-center justify-content-around price mt-3">
    <div class="font-weight-bold">@course.Price$</div>

    <a onclick="AddToCart(@course.Id)" id="cart">
    <img src="/img/CartIcon.png" style="cursor: pointer;width:20px;height:20px;" />
    </a>
    </div>
    </div>
    </div>

    <div class="card-wrapper">
    <a href="" style="    text-decoration: none;">
    <div class="card" style="display: flex;flex-direction: row;color: #46535e;height: 180px;padding: 10px;    border-top-left-radius: 20px;    border-top-right-radius: 20px;">
    <div class="left">
    <img alt="Codemonk" src="/assets/Images/course/@course.ImagePath" style="width:60px;height:60px;border-radius:50%;">
    <a onclick="AddToCart(@course.Id)" id="cart">
    <img src="/img/CartIcon.png" style="cursor: pointer;width:25px;height:25px;    margin-top: 50px;margin-left: 20px;" />
    </a>
    </div>
    <div class="right">
    <div class="card-title" style="font-size: 22px;font-weight:bold;">@course.Name</div>
    <div class="card-desc" style="font-size: 14px;">@course.Description</div>
    </div>
    </div>

    <div class="progress">
    <div class="total item">
    <span class="badge badge-success" style= "font-size: 14px;" >@course.SkillLevel</span>
    <span class="badge badge-primary" style= "font-size: 14px;" >@course.Language</span>
    <span class="badge badge-danger"  style= "font-size: 14px;">@course.Price.0$</span>
    </div>
    </div>

    </a>
    </div>
    </div>
    } *@
    </div>



}

@*  <style>

    .card-wrapper {
        min-height: 150px;
        width: 245px;
        background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(159,167,194,.4);
        position: relative;
        height: 234px !important;
        border-radius: 20px;

    }

    .progress {
        background-color: hsla(0,0%,95%,.4);
        box-sizing: border-box;
        padding: 2px 15px;
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        border-top: 1px solid #e5e7e8;
        height: 55px !important;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top:17px;
    }

    .right {
        padding-left: 10px;
    }
  </style> *@


<style>
    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
        height: 165px;
        margin-top: 10px;
        margin-left: 25px;
    }

        .course h6 {
            opacity: 0.6;
            margin: 0;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .course h2 {
            letter-spacing: 1px;
            margin: 10px 0;
        }

    .course-container {
        margin: 100px;
    }

    .course-preview {
        color: #fff;
        max-width: 250px;
        max-height: 200px;
        width: 30%;
    }

        .course-preview a {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            opacity: 0.6;
            margin-top: 30px;
            text-decoration: none;
        }

    .course-info {
        padding: 10px;
        position: relative;
        width: 100%;
    }

    .progress-container {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
        width: 150px;
    }

    .progress {
        background-color: #ddd;
        border-radius: 3px;
        height: 5px;
        width: 100%;
    }

        .progress::after {
            border-radius: 3px;
            background-color: #2A265F;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 66%;
        }

    .progress-text {
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    .cutombtn {
        background-color: #2A265F;
        border: 0;
        border-radius: 50px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 16px;
        padding: 12px 25px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        letter-spacing: 1px;
    }

    .floating-btn {
        border-radius: 26.5px;
        background-color: #001F61;
        border: 1px solid #001F61;
        box-shadow: 0 16px 22px -17px #03153B;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 20px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
    }

        .floating-btn:hover {
            background-color: #ffffff;
            color: #001F61;
        }

        .floating-btn:focus {
            outline: none;
        }

    .floating-text {
        background-color: #001F61;
        border-radius: 10px 10px 0 0;
        color: #fff;
        font-family: 'Muli';
        padding: 7px 15px;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 998;
    }

        .floating-text a {
            color: #FF7500;
            text-decoration: none;
        }

</style>