@model PaginatedList<Course>

@if (Model.Items.Count == 0)
{
    <img src="/img/noresult.jpg" style="width:400px;height:400px;position:relative;left: 50%;
    top: 50%;
    transform: translate(-80%,0%);" />
}
else
{
    <div class="row mx-0">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(1)">
                        <span>First</span>
                    </a>
                </li>

                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.PageIndex - 1)">
                        <span>Previous</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link text-black" onclick="FilterSearchCourses(@i)">@i</a>
                    </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.PageIndex + 1)">
                        <span>Next</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link text-black" onclick="FilterSearchCourses(@Model.TotalPages)">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </nav>

        @foreach (var course in Model.Items)
        {
            <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                @* <div class="coursecard d-flex flex-column align-items-center" style=" border: solid 1px #d8d2d4;border-radius: 10px;">
                    <div class="product-name text-center">@course.Name</div>
                    <a asp-action="Details" asp-controller="Course" asp-route-Id="@course.Id">
                        <div class="coursecard-img"> <img src="~/assets/Images/course/@course.ImagePath" alt=""> </div>
                    </a>

                    <div class="coursecard-body pt-2" style="width:100%;">
                        <p style="    margin-left: 30px; ">Level : <strong>@course.SkillLevel</strong></p>
                        <p style="    margin-left: 30px; ">Language : <strong>@course.Language</strong></p>
                        <div class="d-flex align-items-center justify-content-around price mt-3">
                            <div class="font-weight-bold">@course.Price$</div>

                            <a onclick="AddToCart(@course.Id)" id="cart">
                                <img src="/img/CartIcon.png" style="cursor: pointer;width:20px;height:20px;" />
                            </a>
                        </div>
                    </div>
                </div> *@

                <div class="card-wrapper">
                    <a href="" style="    text-decoration: none;">
                        <div class="card" style="display: flex;flex-direction: row;color: #46535e;height: 180px;padding: 10px;    border-top-left-radius: 20px;    border-top-right-radius: 20px;">
                            <div class="left">
                                <img alt="Codemonk" src="/assets/Images/course/@course.ImagePath" style="width:60px;height:60px;border-radius:50%;">
                                <a onclick="AddToCart(@course.Id)" id="cart">
                                    <img src="/img/CartIcon.png" style="cursor: pointer;width:25px;height:25px;    margin-top: 50px;margin-left: 20px;" />
                                </a>
                                </div>
                            <div class="right">
                                <div class="card-title" style="font-size: 22px;font-weight:bold;">@course.Name</div>
                                <div class="card-desc" style="font-size: 14px;">@course.Description</div>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="total item">
                                <span class="badge badge-success" style= "font-size: 14px;" >@course.SkillLevel</span>
                                <span class="badge badge-primary" style= "font-size: 14px;" >@course.Language</span>
                                <span class="badge badge-danger"  style= "font-size: 14px;">@course.Price.0$</span>
                            </div>
                        </div>
                           
                    </a>
                </div>
            </div>
        }
    </div>

    

}

 <style>

    .card-wrapper {
        min-height: 150px;
        width: 245px;
        background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(159,167,194,.4);
        position: relative;
        height: 234px !important;
        border-radius: 20px;
        
    }

    .progress {
        background-color: hsla(0,0%,95%,.4);
        box-sizing: border-box;
        padding: 2px 15px;
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        border-top: 1px solid #e5e7e8;
        height: 55px !important;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top:17px;
    }

    .right {
        padding-left: 10px;
    }
  </style>