@using ELearning.Data.Entities.Question
@model List<CompleteExamViewModel>
@{
    ViewData["Title"] = "StartExam";
    var Exam = ViewBag.Exam as Exam;

}
<div class="container">
    <h3>Time Remaining: <span id="timer"></span></h3>
    <form id="examForm" asp-controller="Exam" asp-action="CompleteExam" method="post">
        @for (var i = 0; i < Exam.BaseQuestions.Count; i++)
        {
            var question = Exam.BaseQuestions.ElementAt(i);
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@question.Text</p>
                    <input type="hidden" name="model[@i].BaseQuestionId" value="@question.Id">

                    <div class="form-group">
                        @for (var choiceIndex = 1; choiceIndex <= 4; choiceIndex++)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="model[@i].AnswerChoice" value="@choiceIndex">
                                <label class="form-check-label" for="choice@choiceIndex">
                                    @question.GetType().GetProperty($"Choice{choiceIndex}").GetValue(question, null)
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <input type="hidden" id="duration" value="@Exam.TimedEntity.Duration.TotalSeconds" />
        <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
</div>

@section Scripts {
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var countdown = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = minutes + ":" + seconds;
                if (--timer < 0) {
                    clearInterval(countdown);
                    document.getElementById("examForm").submit();
                }
            }, 1000);
        }

        window.onload = function () {
            var durationInSeconds = document.getElementById("duration").value;
            var display = document.querySelector('#timer');
            startTimer(durationInSeconds, display);
        };
    </script>
}