@using ELearning.Data.Entities.Question
@model List<CompleteExamViewModel>
@{
    ViewData["Title"] = "StartExam";
    ICollection<BaseQuestion> Questions = ViewBag.Exam.BaseQuestions as ICollection<BaseQuestion>;

}
<div class="container">
    <form asp-controller="Exam" asp-action="CompleteExam">
        @for (var i = 0; i < Questions.Count; i++)
        {
            var question = Questions.ElementAt(i);
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@question.Text</p>
                    <input type="hidden" name="model[@i].BaseQuestionId" value="@question.Id">

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model[@i].AnswerChoice"  value="1">
                            <label class="form-check-label" for="choice1">@question.Choice1</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model[@i].AnswerChoice" value="2">
                            <label class="form-check-label" for="choice2">@question.Choice2</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model[@i].AnswerChoice"  value="3">
                            <label class="form-check-label" for="choice3">@question.Choice3</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model[@i].AnswerChoice"  value="4">
                            <label class="form-check-label" for="choice4">@question.Choice4</label>
                        </div>
                    </div>
                    <input type="hidden" name="model[@i].QuestionId" value="@question.Id">
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>


</div>