@using ELearning.BLL.Specifications.CourseSpecification
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
        <h1 class="text-white display-1 mb-5">Education Courses</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
            <div class="input-group">   
                <form asp-action="Index" asp-controller="Course" class="input-group" method="get">
                    <input type="text" name="Name" value="" class="form-control border-light" style="padding: 30px 25px;" placeholder="Course Name">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://img.freepik.com/free-photo/happy-male-student-with-diploma-standing-white_114579-53824.jpg?t=st=1713599382~exp=1713602982~hmac=f9e737a0e53c61420102b8b308eb7d8d2e03e4bc2bcc418bc0e393d349f4da01&w=900" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                    <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                </div>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
                <div class="row pt-3 mx-0">
                   
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">@Model.courses.Count</h1>
                            <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">@Model.Instructors.Count</h1>
                            <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">@Model.Students</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">STUDENTS</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 justify-content-center pt-5">
    <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
            <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
        </div>
    </div>
</div>

<div class="owl-carousel courses-carousel">

    @foreach (var course in Model.courses)
    {
        <div class="courses-item position-relative">
            <img class="img-fluid" src="~/assets/Images/course/@course.ImagePath" >
            <div class="courses-text" >
                <h4 class="text-center text-white px-3">@course.Name</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>@course.User.DisplayName</span>

                        <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" asp-controller="Course" asp-action="Details" asp-route-Id="@course.Id">Course Details</a>
                </div>
            </div>
        </div>
    }
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative mb-5">
            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructors</h6>
            <h1 class="display-4">Meet Our Instructors</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">

            @foreach (var instructor in Model.Instructors)
            {
                <div class="team-item">
                    <img class="img-fluid w-100" src="~/assets/Images/User/@instructor.ImagePath" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">@instructor.DisplayName</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
