@model IReadOnlyList<Course>
@{
    Layout = "_InstructorLayout";
}
<div class="row mx-0 justify-content-center pt-2">
    <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
            <h1 class="display-4">Courses</h1>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        @for (int i = 0; i < Model.Count; i ++)
        {
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div class="course d-flex flex-column justify-content-between">
                    <div>
                        <p class="title">@Model[i].Name</p>
                        <p class="content">
                            @Model[i].Description.Substring(0, Math.Min(60, Model[i].Description.Length))
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Manage" asp-controller="Course" asp-route-courseId="@Model[i].Id" class="button">Manage </a>

                        <a asp-action="Update" asp-controller="Course" asp-route-id="@Model[i].Id" class="button" style="background-color:#ffc107">Update</a>

                        <a asp-action="Delete" asp-controller="Course" asp-route-id="@Model[i].Id" class="button" style="background-color:#dc3545">Delete</a>
                    </div>
                </div>
            </div>
           
        }
    </div>
</div>

<style>
    .course {
        border-radius: 5px;
        background-color: white;
        position: relative;
        box-shadow: rgb(92 151 157) 0px 10px 36px -20px;
        padding: 20px 20px;
        border-top: hsl(180, 62%, 55%) solid 3px;
        width: 280px; /* Adjust the width as needed */
        height: 180px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button {
        background-color: rgb(14, 167, 238);
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        color: white;
        text-align: center;
        width: 30%;
        text-decoration:none!important;
    }

    .title {
        font-weight: 600;
        margin: 0;
    }

    .content {
        font-size: 15px !important;
        color: #807f7f;
    }
</style>
