@model ApplicationUser
<div class="container" style="margin-top:100px;">
	<div class="main-body">


		<div class="row gutters-sm">
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="~/assets/Images/User/@Model.ImagePath" alt="Admin" class="rounded-circle" width="150">
							<div class="mt-3">
								<h4>@Model.DisplayName</h4>
								<p class="text-secondary mb-1">Full Stack Developer</p>
								<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Full Name</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@Model.DisplayName
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Email</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e2848b92a28897898f978acc838e">@Model.Email</a>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Phone</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@Model.PhoneNumber
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

@if (ViewBag.Courses.Count == 0)
{
	<div class="alert alert-success text-center" style="width:60%;position: absolute;
    left: 50%;
    transform: translateX(-50%);" role="alert">
		@Model.DisplayName Has No Course
	</div>

}
else
{
	<div class="row mx-0 justify-content-center pt-5">
		<div class="col-lg-6">
			<div class="section-title text-center position-relative mb-4">
				<h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2"> @Model.DisplayName's Courses</h6>
				<h1 class="display-4">Checkout @Model.DisplayName's Courses</h1>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top:100px;">
		<div class="row">
			@foreach (var course in (List<Course>)ViewBag.Courses)
			{
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="~/assets/Images/course/@course.ImagePath" alt="Card image">
						<div class="card-body">
							<h4 class="card-title">@course.Name</h4>
							<p class="card-text"></p>
							<a asp-action="Details" asp-controller="Course" asp-route-Id="@course.Id" class="btn btn-primary">Courser Details</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}